[Unit]
Description=Hoki KDE Connect client
Requisite=hoki-network-online.target
After=hoki-network-online.target
ConditionUser=ceres
ConditionPathExists=%h/.config/hoki-connect/config.json

[Service]
ExecStart=/usr/lib/hoki-connect serve
Restart=on-failure
RestartSec=5
TimeoutStopSec=60s
UMask=0077
NoNewPrivileges=yes

[Install]
WantedBy=hoki-network-online.target
